<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>

    <form method="post" th:action="@{/listCourses}">
        <h2>Choose course:</h2>

        <th:block th:each="course : ${courses}">
            <label for="name">Course</label>
            <input type="radio" id="name" name="course" th:value="${course.getCourseId()}"
                   th:text="${course.getName() +' (' + course.getDescription()+ ')'}">
            </br>

        </th:block>

        </br>
        <input type="submit" href="/AddStudent" value="Submit">
    </form>

</main>
</body>
</html>